<!-- Portfolio Item Row -->
<!--<h3 class="my-4">Secondary Text</h3>-->

<div class="row">

  <div class="hidden-xs hidden-sm col-md-8 logo">
    <!--<img class="img-fluid" src="http://placehold.it/750x500" alt="">-->
  </div>

  <div class="col-md-4">
    <h3 class="my-3">Mission</h3>
    <p>CEENOS is Luke Schoen. He is currently focused on
      effective education and knowledge transfer and designs and builds
      web and mobile applications that are scalable and maintainable
      with clean code using React.js, Node.js, and Ruby on Rails
      using Agile Scrum methodologies and tools with a focus on UX.
    </p>
    <p>His hobbies are building experience in Dapps using Solidity and Truffle
      and in leveraging his artificial intelligence and machine learning skills
      in Python and Flask.
    </p>
    <p>
      His short-term goal is to build the Peerism Dapp.
      His long-term goal is to build a research paper educational tool that parses
      complex research papers and generates a data impact tree of complex keywords
      and references.
    </p>
    <h3 class="my-3">Services</h3>
    <ul>
      <li>Decentralised Apps (Dapps) on Ethereum Blockchain </li>
      <li>Artificial Intelligence and Machine Learning</li>
      <li>Web and Mobile Apps</li>
      <li>Hybrid Apps</li>
      <li>Native iOS Apps</li>
    </ul>
  </div>

</div>
<!-- /.row -->