<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">Page Heading</h1>

  <%= render "page_item" %>

  <%= render "related" %>

</div>
<!-- /.container -->
