// http://sass-lang.com/

body {
  padding-top: 54px;

  nav {
    .container {
      .username {
        color: yellow;
      }
    }
  }
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}